//---------------
// Эффект Bubba
//---------------

.effect-bubba {
  min-width: 300px;
  background: #76847e;
}

.effect-bubba img {
  opacity: 1;
  transition: opacity 0.25s;
}

.effect-bubba:hover img {
  opacity: 0.2;
}

.effect-bubba figcaption::before,
.effect-bubba figcaption::after {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  content: "";
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}

.effect-bubba figcaption::before {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: scale(0, 1);
}

.effect-bubba figcaption::after {
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transform: scale(1, 0);
}

.effect-bubba:hover figcaption::before,
.effect-bubba:hover figcaption::after {
  opacity: 1;
  transform: scale(1);
}

.effect-bubba h2 {
  padding-top: 0;
  opacity: 0;
  transition: transform 0.35s;
  transform: translate3d(0, 0, 0);
  color: #ffffff;
}

.effect-bubba p {
  padding: 10px 2.5em;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0, 0, 0);
}

.effect-bubba ul,
.effect-bubba ul > li {
  padding: 10px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0, 0, 0);
}

.effect-bubba:hover h2,
.effect-bubba:hover p,
.effect-bubba:hover ul,
.effect-bubba:hover ul > li {
  opacity: 1;
  transform: translate3d(0, 5px, 0);
}
