.calltoaction * {
  text-align: center;
}

.calltoaction {
  background: url("../images/item-6.jpg");
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 50px 0;
  color: #999999;
}

.calltoaction h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.calltoaction-decription {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
  color: #ffffff;
}

.calltoaction__contact {
  color: #000000;
}
