.calltoaction * {
  text-align: center;
}

.calltoaction {
  background: url("../images/item-6.jpg");
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 50px 0;

  &__title {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #ffffff;
  }

  &__desc {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
  }

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
  }
}
