.footer {
  background: #333333;
  text-align: center;
  padding: 40px 0;
  color: $light-color;

  &__family {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__heart {
    color: #ff5252;
  }

  &__copyright {
    margin: 0 20px 0 10px;
    color: $light-color;
  }

  &__academy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    fill: #ffb601;
    color: #ffb601;
    text-decoration: none;

    span {
      margin-left: 10px;
    }

    &:hover {
      fill: #dddddd;
    }
  }
}
