.footer {
  background: #333333;
  text-align: center;
  padding: 40px 0;
  color: #ffffff;
}

.footer__family {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer__heart {
  color: #ff5252;
}

.footer__copyright {
  margin: 0 20px 0 10px;
  color: #ffffff;
}

.footer__academy {
  display: inline-block;
  margin: 0 10px;
  fill: #ffb601;
  color: #ffb601;
  text-decoration: none;

  &:hover {
    fill: #dddddd;
  }
}
