/* ---------------------------------------------- /*
 * Input-group
/* ---------------------------------------------- */

.input-group .form-control {
  z-index: auto;
}

.input-group-addon {
  background: #d8e1e4;
  border: 2px solid #d8e1e4;
  padding: 6px 15px;
  font-weight: 700;
}

/* ---------------------------------------------- /*
 * Inputs styles
/* ---------------------------------------------- */

.form-control {
  background: #ffffff;
  border: 1px solid #d8e1e4;
  font-size: 12px;
  padding: 0 15px;
}

.form-control:focus {
  border-color: rgba(135, 135, 135, 0.7);
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
  height: 38px;
  font-size: 13px;
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
  font-size: 11px;
  height: 30px;
}

textarea.form-control {
  padding: 15px;
  max-width: 100%;
  min-width: 100%;
}

/* ---------------------------------------------- /*
 * Contact
/* ---------------------------------------------- */

.ajax-response {
  text-align: center;
}
