/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */
h1 {
  font-family: $default-font;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: $default-font;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 5px 0 5px;
  color: $dark-color;
}

h2 {
  font-size: 30px;
  margin: 0 0 30px;
}

h3 {
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0 0 5px;
}

// ----------------------------------------------
// Общие стили
// ----------------------------------------------

.sticky-wrapper {
  background-color: $gray-color;
}

.header {
  position: relative;
  width: 100%;
  z-index: 998;
}

.container,
.pfblock__container {
  min-width: $panel-width;
  padding: 0;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-mini-width) {
    max-width: 450px;
    padding-right: 10px;
    padding-left: 10px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 750px;
  }

  @media (min-width: $desktop-mini-width) {
    max-width: 1000px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1170px;
  }
}

.pfblock {
  padding: 70px 0 70px 0;
  background-color: $light-color;

  &--gray {
    background-color: $gray-color;
  }

  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
  }

  &__header {
    text-align: center;
    margin: 0 0 50px 0;

    &--bottom {
      margin: 20px 0 0 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;

    @media (min-width: $tablet-mini-width) {
      font-size: 30px;
    }
  }

  &__subtitle {
    margin: 0 auto;
    font-size: 18px;
    width: 90%;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      width: 80%;
    }

    @media (min-width: $desktop-width) {
      width: 60%;
    }
  }

  &__line {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 20px auto;
  }

  &__icon {
    font-size: 32px;
  }
}
