.home {
  background: url("../images/cover.jpg");
  background-color: #222222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 0;

  &__overlay {
    background-color: rgba(101, 143, 131, 0.1);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &__intro {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 0;
    text-align: center;
    transform: translate(0%, -50%);
    padding: 0 15px;
  }

  &__title {
    font-weight: 700;
    color: #ffffff;
  }

  &__start {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    margin: 15px 0;
    color: #ffffff;
    letter-spacing: 1.5px;
  }
}
