.navbar {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: $default-font;
  background: $light-color;
  border: 1px solid #dddddd;
  box-shadow: 2px 5px 2px #cccccc;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.navbar__brand {
  height: 50px;
  padding: 10px 15px;
  margin-right: auto;
  margin-left: 15px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

.navbar__toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  opacity: 1;
  z-index: 1;
  cursor: pointer;

  &:hover {
    background-color: #dddddd;
  }

  &:active {
    opacity: 0.5;
  }

  &--cross {

  }

  @media (min-width: $tablet-width) {
    opacity: 0;
  }
}

.navbar__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  list-style: none;
  z-index: 10;

  &--close {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: auto;
  }
}

.navbar__item {
  position: relative;
  display: inline-block;
  margin: 10px 6px;
}

.navbar__link {
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 2px;
  color: $dark-color;

  &:hover,
  &:focus {
    background: none;
    outline: 0;
    color: #e7746f;
  }

  &--active {
    color: #e7746f;
  }
}

.navbar__toggle {
  .navbar__icon {
    background: $dark-color;
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 1px;
  }
}

.navbar__toggle .navbar__icon + .navbar__icon {
  margin-top: 4px;
}

.navbar__toggle--cross {
  .navbar__icon {

    &:nth-child(4) {
      display: none;
    }

    &:nth-child(2) {
      transform: rotate(45deg) translateX(2px) translateY(2px);
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translateX(2px) translateY(-2px);
    }
  }
}
