.project {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  list-style: none;
  text-align: center;

  &__item {
    letter-spacing: 1px;
    font-size: 0.7em;
    padding: 3px;
  }

  @media (max-width: 400px) {
    &__item {
      font-size: 0.7em;
      padding: 0;
    }
  }

  @media (min-width: $tablet-mini-width) {
    max-width: 450px;

    &__item {
      font-size: 1em;
      padding: 5px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 650px;

    &__item {
      font-size: 1.2em;
      padding: 7px;
    }
  }

  @media (min-width: $desktop-mini-width) {
    max-width: 400px;

    &__item {
      letter-spacing: 1px;
      font-size: 0.7em;
      padding: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 350px;

    &__item {
      letter-spacing: 1px;
      font-size: 0.7em;
      padding: 3px;
    }
  }
}

.project__title {
  margin: 0;
  font-size: 20px;
  color: $light-color;
}

.project figure {
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  background: #444444;
  text-align: center;
  box-shadow: 2px 2px 5px #cccccc;
  cursor: pointer;
}

.project figure img {
  position: relative;
  display: block;
  min-height: auto;
  max-width: 100%;
  opacity: 0.8;
}

.project figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  color: $light-color;
  font-size: 1.25em;
  backface-visibility: hidden;
}

.project figure figcaption::before,
.project figure figcaption::after {
  pointer-events: none;
}

.project__list {
  text-align: left;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
