body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #666666;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #e7746f;
}

a:hover {
  text-decoration: none;
  color: #999999;
}

/* ---------------------------------------------- /*
 * Transition elsements
/* ---------------------------------------------- */


.navbar a {
  transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
  transition: all 0.125s ease-in-out 0s;
}

/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

.btn,
.navbar-custom .dropdown-menu {
  box-shadow: none;
}

/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.btn,
.iconbox,
.progress,
.scroll-up a {
  border-radius: 3px;
}
