// ----------------------------------------------
// Прокрутка вверх
// ----------------------------------------------

.scroll {
  &--up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;

    .scroll__up {
      background-color: rgba(135, 135, 135, 0.5);
      display: block;
      width: 35px;
      height: 35px;

      &:hover,
      &:active {
        background-color: rgba(235, 235, 235, 0.8);
        color: #e7746f;
      }
    }
  }
}

.scroll__arrow-up {
  @include zero-centered;
  @include triangle-top(7px, $light-color);
}

// ----------------------------------------------
// Прокрутка вниз
// ----------------------------------------------

.scroll__down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid $light-color;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  z-index: 10;
  text-align: center;
}

.scroll__drop {
  position: relative;
  color: $light-color;
}

.scroll__arrow-down {
  @include zero-centered;
  @include triangle-bottom(7px, $light-color);
  left: -7px;
}
