// Высота аккордеона
$a-height: 500px;

// Позиция текста внизу
$text-offset: $a-height - 100;

.skills {
  &__accordion {
    width: 100%;
    max-width: 1200px;
    height: $a-height;
    overflow: hidden;
    margin: 0 auto;
  }

  &__list {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;

    &:hover .skills__item {
      width: 10%;
    }

    &:hover .skills__item:hover {
      width: 60%;
      background-color: #dddddd;

      * {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__item {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 20%; // 5 в 100
    height: $a-height;
    background-repeat: no-repeat;
    background-position: top;
    transition: all 500ms ease;

    // Картинки
    &:nth-child(1) {
      background-image: url("../images/skill1.jpg");
    }

    &:nth-child(2) {
      background-image: url("../images/skill2.jpg");
    }

    &:nth-child(3) {
      background-image: url("../images/skill3.jpg");
    }

    &:nth-child(4) {
      background-image: url("../images/skill4.jpg");
    }

    &:nth-child(5) {
      background-image: url("../images/skill5.jpg");
    }
  }

  &__desc {
    display: block;
    overflow: hidden;
    width: 100%;
    height: $a-height;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 20px 30px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    transition: all 200ms ease;

    * {
      opacity: 0;
      margin: 0;
      width: 100%;
      text-overflow: ellipsis;
      position: relative;
      z-index: 5;
      white-space: nowrap;
      overflow: hidden;
      transform: translateX(-20px);
      transition: all 400ms ease;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    text-overflow: clip;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: $text-offset;
  }

  &__text {
    top: $text-offset;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  // Для IE
  .skills {
    &__accordion {
      height: auto;
    }

    &__list,
    &__list:hover {
      .skills__item,
      .skills__item:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        transition: none;
      }
    }
  }
}
