.tile {
  text-align: center;
  padding: 30px 20px;
  margin: 0 0 20px;
  min-height: 270px;
  background-color: #dddddd;
  border: 10px solid #f5f5f5;
  box-shadow: 2px 2px 5px #cccccc;

  @media (max-width: 480px) {
    min-height: 150px;
  }

  &__title {
    margin: 0 0 15px;
    padding: 0;
    color: #ffffff;
  }

  &__desc {
    color: #333333;
  }
}
