.iconbox {
  background: #ffffff;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
  padding: 30px 20px;
  margin: 0 0 20px;
  min-height: 270px;
  background-color: #D3F3FF;
  box-shadow: 2px 2px 5px #cccccc;

  @media (max-width: 480px) {
    min-height: 150px;
  }
}

.iconbox-icon {
  margin: 0 0 15px;
  font-size: 32px;
  color: #222222;
}

.iconbox-title {
  margin: 0 0 15px;
  padding: 0;
}
